<template>
    <lightning-card title="Child to Parent- Child" icon-name="custom:custom15">
        <div class="slds-p-around_medium">
           <!--Test<lightning-input type="string" onchange={handleStringChange} label="Enter Name" ></lightning-input>-->
           <lightning-input type="string" label="Enter Name" ></lightning-input> 
           <lightning-button variant="brand" label="Send To Parent" onclick={handleClickEvent} class="slds-m-left_x-small"></lightning-button>
        </div>
    </lightning-card>
</template> 
